.home {
  color: black;
  background-color: rgb(254, 253, 251);
  background-size: 100px;
}
.main {
  background-color: aliceblue;
  background-size: auto;
}
.mess {
  width: "90%";
  padding: 20px 20px;
  border: 2px solid black;
  background-color: aqua;
}

.hostel {
  width: "90%";
  padding: 20px 20px;
  border: 2px solid black;
  background-color: aqua;
}
.print {
  padding: 1px 1px;
  background-image: url("./images/it.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: lighten;
  height: 111vh;
  width: 100vw;
  background-size: cover;
  /* background-color: rgb(255, 255, 255); */
}
.title {
  padding: 5px 10px 10px 143px;
}

.bckground {
  /* background-image: url("./images/it.jpg"); */
  /* filter: blur(10px); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page {
  background-color: beige;
}

.pay1 {
  padding: 1px 1px;
  background-image: url("./images/it.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: lighten;
  height: 116vh;
  width: 100vw;
  background-size: cover;
}
